body{
    text-align: center;
    background-color: black;
    margin: 100px;
    font-family: 'Courier New', Courier, monospace;
}
#instructions{
    color: green;
}

#hiddenHints{
    color: black;
    cursor: default;
}

#errorPage{
    background-color: red;
    color: rgb(0, 0, 0);
    font-size: 40px;
}
#jornalStyle{
    margin: 5px;
    color: green;
}

#dPIMG{
    cursor: crosshair;
}